<div class="header">
  <div class="title">
    <%= image_tag("sfbbo-logo.png", class: "logo") %>
    <div class="name">BAY TRAIL BIRD MAPPING</div>
  </div>
  <div class="nav">
    <div class="nav-btn" title="Search Locations" disabled><i class="fa-solid fa-magnifying-glass"></i></div>
    <div class="nav-btn" id="navigation" title="Other Pages">
      <i class="fa-solid fa-ellipsis-vertical"></i>
      <nav>
        <%= link_to "Donate", "/donation" %>
        <%= link_to "Locations", "/locations" %>
        <%= link_to "Tips", "/tips" %>
      </nav>
    </div>
    <div class="nav-btn info" title="Tutorial" disabled><i class="fa-solid fa-info"></i></div>
  </div>
</div>
<main>
  <div id="leaflet-map"></div>
</main>
<div class="overlay" hidden></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src = "app/javascript/channels/index.js"></script>
<%= javascript_include_tag 'index' %>
