<div class="container">
  <div class="row">
    <div class="col-md-12 navigation" style="padding: 0 !important;">
      <div id="logo">
        <center>
          <h2 style="margin-bottom: 0;"><%= link_to 'BIRDING THE BAY TRAIL', root_path, {:style=>'color:#000000; text-decoration:none;', } %>
          </h2>
          ALL LOCATIONS
        </center>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-columns">
      <% @locations_full.each do |location| %>
        <div class="card">
          <img class="card-img-top" src="<%= location.picURL %>" />
          <div class="card-body">
            <h5 id="location-name"><%= location.name %></h5>
            <h5><%= number_with_precision(hav_distance([location.latitude.to_f, location.longitude.to_f], @current_location), precision: 2) %> mi</h5>
            <p class="card-text" style="font-size: 14px;"><%= location.description %></p>
          </div>
          <div class="card-footer">
            <a href="<%= location.websiteURL %>" class="card-link" target="_blank">Website</a>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 navigation" style="padding: 0 !important;">
      <div id="logo">
        FOOTER AND CONTACT LINKS GO HERE
      </div>
    </div>
  </div>
</div>
